*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-color: #000;
  border-bottom: 1px solid red;
  padding: 10px 0;
}

.film {
  background-color: #000;
}

.film__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background: -webkit-linear-gradient(#beb8b8, #fd0303);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.film__form {
  background-color: #000;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.film__info {
  margin-right: 20px;
  width: 250px;
  padding: 5px 10px;
  border: 2px solid #ff2323;
  -webkit-box-shadow: 0px 0px 4px 3px red;
          box-shadow: 0px 0px 4px 3px red;
  outline: none;
}

.film__btn {
  width: 150px;
  height: 30px;
  border: 2px solid red;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  font-weight: bold;
}

.film__btn:hover {
  background-color: red;
  -webkit-box-shadow: 0px 0px 4px 3px red;
          box-shadow: 0px 0px 4px 3px red;
  color: #fff;
}

.film__menu {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.film__card {
  padding: 20px;
  margin-bottom: 15px;
  width: 285px;
  background-color: red;
  border-radius: 10px;
  color: #fff;
  -webkit-box-shadow: 0 2px 3px #a8a6a6;
          box-shadow: 0 2px 3px #a8a6a6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.film__card:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.film__card--title {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}

.film__card--btn {
  padding: 5px 25px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  -webkit-box-shadow: 0 0 2px 2px #fff;
          box-shadow: 0 0 2px 2px #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000)) left/100% var(--d, 0%) no-repeat;
  background: linear-gradient(#000 0 0) left/100% var(--d, 0%) no-repeat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.film__card--btn:hover {
  --d: 100%;
  color: #fff;
}

.film__pic {
  width: 255px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.film__realise--date {
  margin: 10px 0;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .film__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .film__info {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=main.css.map */